<mat-card-header>
    <mat-card-title>
      User Sign In 
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    
 
<form [formGroup]="signin" (ngSubmit)="trySignin()">
      <mat-form-field appearance="outline" >
        <mat-label>User name</mat-label>
        <input matInput  formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
      </mat-form-field>
      <button mat-raised-button color="primary">Login</button>
      <button mat-button routerLink="signup" type="submit">SignUp</button>
</form>
 
</mat-card-content>


