<mat-toolbar color="primary">
  <button mat-button color="default" (click)="navbar.toggle()"><mat-icon>menu</mat-icon></button>
  <span >Faculty Information System</span>
  <span fxFlex></span>
  <button mat-raised-button color="default" id="login" routerLink="/login">Login</button>


</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="push" closed #navbar>
      <button mat-raised-button color="primary" id="navlogin">Login</button>
    </mat-sidenav>
    <mat-sidenav-content>
          <!-- <mat-form-field>
            <input matInput placeholder="Input">
          </mat-form-field> -->
          <router-outlet></router-outlet>
          
    </mat-sidenav-content>

  </mat-sidenav-container>